/*** LEAF ICONS ***/

li.leaf {
  list-style-image: url('https://rmviscom.github.io/ESE/images/leaffill.svg');
  font-size:.9em;
  font-weight:500;
li.leaf::marker {
   height:200%;
  width:200%;
   line-height: 0.1;
}
