/*** LEAF ICONS ***/

li.leaf {
  list-style-image: url('https://rmviscom.github.io/ESE/images/leaffill.svg');
  font-size:.8em;
  font-weight:bold;
li.leaf::marker {
   height:20px;
  width:20px;
   line-height: 0.1;
}
