/*** HERO ***/
@font-face{
  font-family:nb_international_pro;
  font-style:italic;
  font-weight:900;
  src:url(/fonts/nb_international_pro_bold_italic-webfont.eot);
  src:url(/fonts/nb_international_pro_bold_italic-webfont.eot?#iefix) format("embedded-opentype"),url(/fonts/nb_international_pro_bold_italic-webfont.woff2) format("woff2"),url(/fonts/nb_international_pro_bold_italic-webfont.woff) format("woff"),url(/fonts/nb_international_pro_bold_italic-webfont.ttf) format("truetype")
}
@font-face{font-family:nb_international_pro;
  font-style:italic;
  font-weight:400;
  src:url(/fonts/nb_international_pro_italic-webfont.eot);
  src:url(/fonts/nb_international_pro_italic-webfont.eot?#iefix) format("embedded-opentype"),url(/fonts/nb_international_pro_italic-webfont.woff2) format("woff2"),url(/fonts/nb_international_pro_italic-webfont.woff) format("woff"),url(/fonts/nb_international_pro_italic-webfont.ttf) format("truetype")
  }
@font-face{
  font-family:nb_international_pro;
  font-style:italic;
  font-weight:300;
  src:url(/fonts/nb_international_pro_light_italic-webfont.eot);
  src:url(/fonts/nb_international_pro_light_italic-webfont.eot?#iefix) format("embedded-opentype"),url(/fonts/nb_international_pro_light_italic-webfont.woff2) format("woff2"),url(/fonts/nb_international_pro_light_italic-webfont.woff) format("woff"),url(/fonts/nb_international_pro_light_italic-webfont.ttf) format("truetype")
}
@font-face{
  font-family:nb_international_pro;
  font-style:normal;
  font-weight:600;
  src:url(/fonts/nb_international_pro_medium-webfont.eot);
  src:url(/fonts/nb_international_pro_medium-webfont.eot?#iefix) format("embedded-opentype"),url(/fonts/nb_international_pro_medium-webfont.woff2) format("woff2"),url(/fonts/nb_international_pro_medium-webfont.woff) format("woff"),url(/fonts/nb_international_pro_medium-webfont.ttf) format("truetype")
}
@font-face{
  font-family:nb_international_pro;
  font-style:normal;font-weight:300;
  src:url(/fonts/nb_international_pro_light-webfont.eot);
  src:url(/fonts/nb_international_pro_light-webfont.eot?#iefix) format("embedded-opentype"),url(/fonts/nb_international_pro_light-webfont.woff2) format("woff2"),url(/fonts/nb_international_pro_light-webfont.woff) format("woff"),url(/fonts/nb_international_pro_light-webfont.ttf) format("truetype")
}
@font-face{
  font-family:nb_international_pro;
  font-style:normal;
  font-weight:900;
  src:url(/fonts/nb_international_pro_bold-webfont.eot);
  src:url(/fonts/nb_international_pro_bold-webfont.eot?#iefix) format("embedded-opentype"),url(/fonts/nb_international_pro_bold-webfont.woff2) format("woff2"),url(/fonts/nb_international_pro_bold-webfont.woff) format("woff"),url(/fonts/nb_international_pro_bold-webfont.ttf) format("truetype")
}
@font-face{
  font-family:nb_international_pro;
  font-style:italic;
  font-weight:600;
  src:url(/fonts/nb_international_pro_medium_italic-webfont.eot);
  src:url(/fonts/nb_international_pro_medium_italic-webfont.eot?#iefix) format("embedded-opentype"),url(/fonts/nb_international_pro_medium_italic-webfont.woff2) format("woff2"),url(/fonts/nb_international_pro_medium_italic-webfont.woff) format("woff"),url(/fonts/nb_international_pro_medium_italic-webfont.ttf) format("truetype")
}
@font-face{
  font-family:nb_international_pro;
  font-style:normal;
  font-weight:400;
  src:url(/fonts/nb_international_pro_regular-webfont.eot);
  src:url(/fonts/nb_international_pro_regular-webfont.eot?#iefix) format("embedded-opentype"),url(/fonts/nb_international_pro_regular-webfont.woff2) format("woff2"),url(/fonts/nb_international_pro_regular-webfont.woff) format("woff"),url(/fonts/nb_international_pro_regular-webfont.ttf) format("truetype")
}
@font-face{
  font-family:nb_international_promono;
  font-style:normal;
  font-weight:400;
  src:url(/fonts/nb_international_pro_mono-webfont.eot);
  src:url(/fonts/nb_international_pro_mono-webfont.eot?#iefix) format("embedded-opentype"),url(/fonts/nb_international_pro_mono-webfont.woff2) format("woff2"),url(/fonts/nb_international_pro_mono-webfont.woff) format("woff"),url(/fonts/nb_international_pro_mono-webfont.ttf) format("truetype")
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
  font-family: 'NB International Pro', sans-serif;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.hero {
  position: absolute;
  bottom: 0;
  z-index: 5;
  max-width: 850px;
  filter: contrast(90%);
  pointer-events: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  position: absolute;
  top: 18%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 3rem;
  letter-spacing: 1rem;
  text-transform:uppercase;
  z-index: 5;
  color: transparent;
  background-position: 0 0;
  font-weight:500;

}
.impact {
  font-size:20vw;
  color:rgba(255, 255, 255, 0.5);
  /* -webkit-text-stroke: 1px #fff; */
  display:block;
  position: absolute;
  top: 40%;
  left: 50%;
  letter-spacing: normal;
}
  

@keyframes animated-text {
  100% {
    background-position: 200% 0;
  }
}

.one,
.five {
  color:#ffffff;
  letter-spacing:1px;
  font-size:2rem;
}

.two,
.three,
.four,
.six {
  -webkit-text-stroke: 1px #fff;
  background: url(https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/ba4edde6-822d-437a-88c2-f54392d7a56f);
  background-clip: text;
  -webkit-background-clip: text;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/*** CARDS ***/
:root{
  --background-light: #ffffff;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section{
  align-items: flex-start;
 /* background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%); */
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.esecard-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .esecard-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .esecard-grid{
    grid-template-columns: repeat(3, 1fr); 
  }
}

.esecard{
  list-style: none;
  position: relative;
}

.esecard:before{
  content: '';
  display: block;
  padding-bottom: 100%;
  width: 100%;
}

.esecard__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(1) saturate(1.2) contrast(1);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.esecard:hover .esecard__background{
  transform: scale(1.05) translateZ(0);
  filter: brightness(0.9) saturate(1) contrast(1);
}

.esecard-grid:hover > .esecard:not(:hover) .esecard__background{
  filter: brightness(1.5) saturate(1) contrast(1.2) blur(20px);
}


.esecard__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 25%;
}

.esecard__category{
  color: #eaebec;
  font-size: 1rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
  font-weight:bold;
}

.esecard__heading{
  color: #ffffff;
  font-size: 2.5rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.9);
  line-height: auto;
  word-spacing: 100vw;
  font-weight:bold;
}
.esecard:hover > .esecard__heading{
    transform: scale(1.05) translateZ(0);
}
.esecard:hover > .more{
  visibiility: visible;
}
.more{
  margin-top:3rem;
  font-size:1.2rem;
  color:#ffffff;
  visibility:hidden;
} 
.more img{
  width:15px;
  height:15px;
  filter: brightness(2.0)
}
  


/*** LEAF ICONS ***/

li.leaf {
  list-style-image: url('https://rmviscom.github.io/ESE/images/leaffill.svg');
li.leaf::marker {
   font-size: 2.8em;
   line-height: 0.1;
}
